 
.cards-container .card {
    transform: translateZ(0);
    display: inline-block;
    overflow: visible;
    height: 100%;
    position: relative;
    justify-self: auto
  }

.grid-container {
    display: grid;
    grid-gap: 25px;
    justify-content: center;
}
.card-content{
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    bottom: 0;

    font-weight: 500;
}
.card-title{
    padding-left: 20px !important;
}


.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
}

@media (max-width: 600px){
    .grid-container--fill {
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    }
    .text-center{
        font-size: 2rem;
    }
}




.grid-element {
  background-color: deepPink;
  color: #fff;
  border: 1px solid black;
  margin: 0;
  padding:0;
  height: 350px;
}

  .text-center {
    text-align: center;
  }
  
  